
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


*.pid

node_modules
dist
dist-ssr
*.local


.env
.env.*
!.env.example
*.pem
*.key

.tmp/
.tmp-map-screens/


.audit_vignette/
.docs/
.media-src/
.data/

external/



__pycache__/
*.py[cod]

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


Thumbs.db
desktop.ini



